div.detail {
	display: flex;
	flex-direction: row;
	height: 100%;
	border: 1px solid white;

	section {
		display: flex;
		flex-direction: column;
		height: 100%;

		&.left {
			width: 80%;

			> div.up {
				height: 70%;
				> h3 > textarea {
					text-align: center;
					//font-size: xx-large;
				}
			}

			> div.down {

				display: flex;
				flex-direction: row;
				height: 30%;

				h3 {
					width: 10%;
					height: 100%;
					writing-mode: tb;
					border-right: 1px solid white;
				}

				textarea{
					width: 90%;
					height: 100%;
				}
			}
		}

		&.right {
			width: 20%;
			border-left: 1px solid white;

			> div {
				h3 {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}

				height: 50%;
			}
		}

		div {
			width: 100%;

			h3 {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 10%;
				border-bottom: 1px solid white;
			}

			textarea{
				width: 100%;
				height: 90%;
				border-bottom: 1px solid white;
				background: black;
			}
		}
	}
}
