.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30vw 10vw 50vw;
  min-height: 100vh;

  ul {
    list-style: none;
    border: 1px solid white;
    width: 100%;

    li {
      width: 100%;
      height: auto;
      font-size: 1em;
      line-height: 2em;
      border-bottom: 1px solid;

      a {
        display: block;
        width: 100%;

        &:hover {
          background: white;
          color: black;
        }
      }
    }
  }

  a {

  }
}
