.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30vw 10vw 50vw;
  min-height: 100vh;

  ul {
    list-style: none;
    border: 1px solid white;
    width: 100%;

    li {
      width: 100%;
      min-height: 32px;
      height: auto;
      font-size: 1em;
      line-height: 2em;
      border-bottom: 2px solid;

      &.new::before {
        content: "new";
        color: yellow;
        display: inline-block;
        padding: 0 10px;
        float: left;
      }

      a {
        display: block;
        width: 100%;

        &:hover {
          background: white;
          color: black;
        }
      }
    }
  }

  a {

  }
}
